.grapher_input{
    width: 40%;
}
.grapher_plot{
    position: fixed;
    bottom: 9em;
    right: 5em;

}
// .main{
//     min-height: 150%;
//     position: relative;
// }

.content{
    padding-bottom: 150px;
}