.flex-container {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    /* grid-template-columns: minmax(200px, auto) minmax(200px, auto) minmax(200px, auto);
    grid-template-rows: 500px minmax(200px, auto);
    flex-gap: 2px; */
    flex: wrap;
    /* grid-template-areas:
        "sidebar content content"
        "sidebar content content"
        "footer footer footer"; */
}



.flex-item {
    flex-grow: 1;
    margin: 5px;
    /* background-color: green; */
    /* grid-area: sidebar; */
    border-radius: 4px;
    box-shadow: 2px 2px 7px;


}